.note-edit-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-edit-name {
  font-size: 1rem;
}

.note-edit-content {
  font-size: 1rem;
  height: 10ch;
  resize: none;
}

.note-edit-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.notes-header {
  margin-bottom: 1rem;
}