:root {
  --default-list-items-gap: 0.5rem;
  --default-list-elements-gap: 1ch;
}

.note {
  display: grid;

  grid-template-columns: min-content 20ch auto 20ch 20ch min-content;
  align-items: center;

  border-bottom: 1px solid black;
  padding-bottom: var(--default-list-items-gap);

  &:last-of-type {
    border-bottom: none;
  }

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.note > *:not(:last-child) {
  margin-right: var(--default-list-elements-gap);
}

.note__content {
  grid-column-start: 1;
  grid-column-end: -1;
}

.notes__list {
  display: flex;
  flex-direction: column;
  gap: var(--default-list-items-gap);
}

.notes__header {
  margin-bottom: 1rem;
}