:root {
  --sidebar-width: 20rem;
}

.dashboard-screen-split {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;
}

.dashboard-right-panel-wrapper {
  height: 100vh;
  width: calc(100% - var(--sidebar-width));
  padding: 1rem;
}

.dashboard-left-panel-wrapper {
  width: var(--sidebar-width);
  height: 100vh;

  padding: 0.5rem 1rem 1rem;
  border-right: 2px solid #535353;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}
  