.list-elem-wrapper {
  display: flex;
  gap: 2.5ch;
  padding-block: 0.8rem;
  border-bottom: 1px solid black;

  &:last-child {
    border-bottom: none;
  }
}

.list-elem-space {
  flex-grow: 1;
}

.list-elem-actions {
  display: flex;
  flex-direction: row;
  gap: 1.5ch;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note-info {
  display: flex;
  flex-direction: row;
  gap: 2.5ch;
}

.note-name {
  width: 40ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-date-of-creation {
  width: 10ch;
}

.note-date-of-modiciation {
  width: 10ch;
}

.planned-visit-date {
  width: 10ch;
}

.planned-visit-duration {
  width: 12ch;
}

.planned-visit-street {
  width: 16ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.planned-visit-user {
  width: 24ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.planned-visit-status {
  width: 10ch;
}

.note-content {
  margin-block-start: 1ch;
}

.note-collapse {
  color: blue;
  cursor: pointer;
  scale: 1.5;
}