:root {
  --primary-green: #009100;
  --primary-red: #d85959;
  --primary-blue: #0000ff;
  --primary-green-dark: #007900;
  --primary-red-dark: #bd0000;
  --primary-blue-dark: #0000d5;
  --primary-red-light: #ca7474;
}

.app-btn {
  border: 1px solid transparent;
  background: transparent;
  display: inline-block;
  align-self: end;
  font-weight: bold;
  cursor: pointer;

  border: 2px solid currentColor;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
}

.app-btn--remove {
  color: var(--primary-red);

  &:hover {
    color: var(--primary-red-dark);
  }

  &:disabled {
    color: var(--primary-red-light);
  }
}

.app-btn--edit {
  color: var(--primary-blue);

  &:hover {
    color: var(--primary-blue-dark);
  }
}

.app-btn--create {
  color: var(--primary-green);

  &:hover {
    color: var(--primary-green-dark);
  }
}