.app-button {
  border: 1px solid transparent;
  background: transparent;
  display: inline-block;
  align-self: end;
  font-weight: bold;
  cursor: pointer;

  border: 2px solid currentColor;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
}

.app-btn--remove {
  color: rgb(216, 89, 89);

  &:hover {
    color: #bd0000;
  }
}

.app-btn--edit {
  color: blue;

  &:hover {
    color: #0000d0;
  }
}

.app-btn--create {
  color: #009100;

  &:hover {
    color: #007900;
  }
}