.scheduler-header {
  margin-bottom: 1rem;
}

.day-visit-scheduler__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-block: 1rem;
}

.day-visit-scheduler__space {
  flex-grow: 1;
}

.day-visit-scheduler__collapse {
  color: blue;
  cursor: pointer;
  scale: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.day-visit-scheduler__visits {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}


.scheduled-visit {
  display: grid;

  grid-template-columns: 16ch 20ch auto 20ch auto min-content;
  align-items: center;

  border-bottom: 1px solid black;
  padding-bottom: var(--default-list-items-gap);

  &:last-of-type {
    border-bottom: none;
  }

  & > *:not(button:last-child) {
    margin-right: 1ch;
  }

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.visit-scheduler-wrapper {
  display: flex;
  flex-direction: column;
  /* gap: 1ch; */
}

.day-visit-scheduler-wrapper {
  border-bottom: 4px solid black;

  &:last-child {
    border-bottom: none;
  }
}

.day-visit-scheduler-form-section {
  display: flex;
  flex-direction: column;
  max-width: 20rem;

  & > input {
    width: fit-content;
    display: inline-block;
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    letter-spacing: 0.04ch;
  }

  & > input[type="text"], input[type="password"] {
    width: 100%;
  }

}

.day-visit-scheduler-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8ch;
}


.day-visit-scheduler-form-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}