.day-visit-planner-wrapper {
  padding: 0.3rem;
  border-bottom: 5px solid black;

  &:last-child {
    border-bottom: none;
  }
}

.day-visit-planner-actions {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  margin-bottom: 1ch;
}

.day-visit-planner-day-info {
  display: flex;
  flex-direction: row;
  gap: 0.3ch;
}

.day-visit-planner-date {
  align-self: end;
  font-weight: normal;
  font-size: 0.85rem;
  color: #252525;
}

.day-visit-planner-name-of-the-week {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.day-visit-planner-btn-add {
  border: 1px solid transparent;
  background: transparent;
  display: inline-block;
  align-self: end;
  color: blue;
  font-weight: bold;
  cursor: pointer;

  display: flex; 

  &:hover {
    color: #0000d0;
  }
}

.day-visit-planner-btn-collapse {
  border: 1px solid transparent;
  background: transparent;
  display: inline-block;
  align-self: end;
  color: blue;
  font-weight: bold;
  cursor: pointer;

  display: flex;

  &:hover {
    color: #0000d0;
  }
}

.day-visit-planner-visits {
  display: flex;
  flex-direction: column;
}

.day-visit-planner-space {
  flex-grow: 1;
}
