.sidebar-button {
  padding: 1rem;
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 1rem;

  border: 1px solid transparent;
  border-radius: 0.8rem;
  border-color: #befcff;
  background: #f5ffff;

  &:hover {
    background: #dbffff;
    border-color: #5ae1d4;
  }

  height: 100%;
  display: inline-block;

  text-decoration: none;
  color: black;

  &:active {
    color: black;
  }
}