.sidebar__header {
  font-size: 1.65rem;
  padding-block: 1rem;
  color: #fff;
}

.sidebar__links {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  overflow: scroll;
}

.sidebar__space {
  display: inline-block;
  width: 100%;

  flex-grow: 1;
}

.sidebar__footer {

}