.planned-visit {
  display: grid;

  grid-template-columns: 12ch 20ch 32ch 32ch 10ch auto min-content min-content;
  align-items: center;

  border-bottom: 1px solid black;
  padding-bottom: var(--default-list-items-gap);

  &:last-of-type {
    border-bottom: none;
  }

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.planned-visit > *:not(:last-child) {
  margin-right: var(--default-list-elements-gap);
}

.planned-visits__list {
  display: flex;
  flex-direction: column;
  gap: var(--default-list-items-gap);
}

.planned-visits__header {
  margin-bottom: 1rem;
}