.visit-modal-form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  width: 100%;
  height: fit-content;

  border: 1px solid black;
  margin: 2rem;
  padding: 1rem;

  & label {
    font-size: 0.9rem;
    margin-bottom: 2px;
  }
}

.visit-modal-two-elem-vert {
  display: flex;
  flex-direction: column;
}

.visit-modal-actions {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.visit-modal-error {
  font-size: 0.6rem;
  color: red;
  display: inline-block;
  margin-top: 2px;

  &--visible {
    width: auto;
  }

  &--hidden {
    overflow: hidden;
    width: 0;
    white-space: nowrap;
  }
}

.visit-modal-input {
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  padding: 0.15rem 0.3rem;

  &--small {
    width: fit-content;
  }
}